BOW.pth
BOW_LN.pth
BOW_HM_LN.pth
BOW_BN.pth
loss_BN.pth
losses.pth
accuracies.csv
batch/modèle_bn_entrainé.pth
batch/modèle_bn2_entrainé.pth
batch/modèle_bn3_entrainé.pth
batch/modèle_layer_entrainé.pth
batch/modèle_vanilla_entrainé.pth
batch/modèle_vanilla2_entrainé.pth
batch/modèles_stockbn_entrainé.pth